# Python compiled files
__pycache__/
*.py[cod]

# builds
build/
*.egg-info
*.pybuild
dist/

# Log used by setup.py
installed.log

# Debian
debian/debhelper-build-stamp
debian/grive-indicator/
debian/grive-indicator.debhelper.log
debian/grive-indicator.postinst.debhelper
debian/grive-indicator.prerm.debhelper
debian/grive-indicator.substvars
debian/files

# Snap
parts/
stage/
prime/
*.snap
*.tar.bz2
