# Python compiled files
__pycache__/
*.py[cod]

# builds
build/
*.egg-info
*.pybuild
dist/
.cache
.pytest_cache

# Log used by setup.py
installed.log

# Editor settings
.idea/
.vscode

# Debian
debian/

# Snap
parts/
stage/
prime/
*.snap
*.tar.bz2
snap/.snapcraft/

# virtualenv
env/
