[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyxdg = "*"
pycairo = "*"
PyGObject = "*"

[dev-packages]
black = "*"
setuptools = "*"
pytest = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
