[Desktop Entry]
Version=1.0
Type=Application
Name=Grive Indicator
Exec=root_dir/grive-indicator
Comment=Simple indicator applet to synchronize Google Drive contents
Icon=google-drive
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
