[Desktop Entry]
Version=1.0
Type=Application
Name=Grive Indicator
Exec=grive-indicator
Comment=Simple indicator applet to synchronize Google Drive contents
Icon=web-google-drive
Categories=Network;FileTransfer;
Terminal=false
StartupNotify=false
