[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Grive Indicator
Exec=$GRIVEI_PATH/grive-indicator
Comment=Simple indicator applet to synchronize Google Drive contents
Icon=google-drive
Hidden=false
NoDisplay=false
OnlyShowIn=Unity;GNOME;
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
